<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <style>
        body,html{
            /*background-color: #95C1C7;*/
height: 100%;
width: 100%;
overflow: hidden;
        }
        div{
            background: url(/images/404.png);
            width: 1174px;
            height: 516px;
            margin: 0 auto;
            position: relative;

        }
        div a{
            display: block;
            width: 30px;
            height: 45px;
            position: absolute;
            top: 320px;
            left: 270px;
            opacity: 0;

        }
    </style>
</head>
<body>
<div>
    <a href="/"></a>
    </div>

</body>
</html>