<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
	<title>后台管理</title>
</head>
<body>
<div id="aside">
	<ul>
		<li><a href="/">待审核歌曲</a></li>
		<li><a href="/">歌曲管理</a></li>
		<li><a href="/">用户管理</a></li>
		<li><a href="/">返回前台界面</a></li>

	</ul>

</div>
</body>
</html>