<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charsrt="utf-8"/>
</head>
<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
 
<link rel="stylesheet" type="text/css" href="/stylesheets/list.css">
 <script type="text/javascript">
var url="/getformusictime";
 </script>
<body>
<div id="tags">
  <div class="huayu" data-language="1"><p>华语热歌<i class="video play outline icon"></i></p><ul></ul><div class="bottom"></div>
</div>
  <div class="hanyu" data-language="2"><p>日韩热歌<i class="video play outline icon"></i></p><ul></ul><div class="bottom"></div>
</div>
  <div class="oumei" data-language="3"><p>欧美热歌<i class="video play outline icon"></i></p><ul></ul><div class="bottom"></div>
</div>
</body>
<script type="text/javascript" src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>

<script type="text/javascript" src="/javascripts/list.js"></script>
</html>
