<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div>
		<p>标签：</p>
		<div>
      <!--  <% tag.forEach(item,index){ %>
       <span><%= item %></span>
       <% } %> -->

		</div>
	</div>
</body>
</html>