<!DOCTYPE html>
<html>
<head>

	<title>上传</title>
	<style type="text/css">
    form{

    	padding: 40px;
    	border: 1px solid #ccc;
    	/*text-align: center;*/
    }
    p{
      height: 40px;
      width: 400px;
      margin: 0 auto;
      margin-bottom: 10px;
    }
    label{display: inline-block;
       
        margin-right: 10px;
        line-height: 30px;
    }
    input{
    	width: 250px;
    	border: 1px solid #ccc;    
	 	line-height: 27px;
	 	/*font-size: 18px;*/
	 	border-radius: 5px;
	 	outline: 0;
    }
    input.tag{
    	width: 60px;
    }
    input[type=radio]{
    	width: 15px;
    }
    input[type=file]{
    	   border: 0;
    	   width: auto;
    }
    input[type="file" i]::-webkit-file-upload-button{
    	background-color: #6F9392;
    color: #fff;
     border: 0;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
    outline: 0;
    }
    button{
    background-color: #009c95;
    color: #fff;
    border: 0;
    cursor: pointer;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-weight: 700;
    border-radius: 5px;
    padding: 0px 30px;
    margin: 20px;

    }
    span{
    	color:red;
    	font-size: 12px;
    	margin:0 10px;
    }
	</style>
       <% if(name=="admin"){ %>
           <style type="text/css">
    body,html,div,ul,li{
        padding: 0;
        margin: 0;
    }
    body{
        /*width: 1000px;*/
        margin: 0 auto;
    }
#aside{
   /* position: fixed;
    left:0;*/
    width: 100%;
    height: 40px;
    background: linear-gradient(to bottom, #222222, #111111);
    margin-bottom: 30px;
}
#aside li{
    float: left;
    list-style-type: none;
}

#aside li a{
    display: block;
  padding: 0 20px;
  text-decoration: none;
  font-size: 15px;
  color: #ccc;
   height: 40px;
  line-height: 40px;
  cursor: pointer;
}
#aside li a:hover{
    color: #fff;
}

    </style>
        
         <%}%>
</head>
<body>
 <% if(name=="admin"){ %>
 <div id="aside">
    <ul>
        <li><a href="/administer_check" >待审核歌曲</a></li>
        <li><a href="/administer_musics">歌曲管理</a></li>
        <li><a href="/administer_users">用户管理</a></li>
         <li><a href="/upload"style="background:#000;color:#fff">上传歌曲</a></li>
        <li><a href="/">返回前台界面</a></li>

    </ul>

</div>
 <%}%>
<form method="post" action="/upload" enctype="multipart/form-data" id="sub">
	<p> <label for="songname">歌曲名:</label><input type="text" name="songname" id="songname" required/><span>*必填项</span></p>
	<p>  <label for="singername">歌手名:</label><input type="text" name="singername" id="singername" required/><span>*必填项</span></p>
	<p>  <label >语言:</label><input type="radio" name="language" value="1" checked>华语<input type="radio" name="language" value="2">日韩<input type="radio" name="language"  value="3">欧美<span>*必填项</span></p>
	<p>  <label>标签:</label><input type="text" name="tag1" class="tag"> <input type="text" name="tag2" class="tag"> <input type="text" name="tag3"class="tag"> </p>
	<p>     <label for="count"> 歌词文件:</label><input id="l" type="file" name="lrc" /><span>*必填项</span></p>
	<p>     <label for="count"> 歌曲文件:</label><input id="m" type="file" name="music" required/><span>*必填项</span></p>	
<!-- 	<p>      <label for="count"> 图片文件:</label><input id="im" type="file" name="img"/></p> -->

	<p style="text-align: center"> <button type="submit" >上传</button></p>
</form>
<script type="text/javascript">
var sub=document.getElementById("sub");
var songname=document.getElementById("songname");
var singername=document.getElementById("singername");
var m=document.getElementById("m");
var l=document.getElementById("l");
sub.onsubmit=function(){
	var svalue=songname.value.trim();
	var sinvalue=singername.value.trim();
	var mvalue=m.value.trim();
	var lvalue=l.value.trim();
  var musichz=.slice(mvalue.length-4,mvalue.length);
  var lrchz=lvalue.slice(lvalue.length-4,lvalue.length);
  if(svalue.length==0||sinvalue.length==0||mvalue.length==0||lvalue.length==0){

    alert("表单有必填项未填写")
  	return false;
  }else if(musichz!=".mp3"){
       alert("歌曲文件必须是mp3格式");
    return false;
  }else if(lrchz!=".lrc"){
     alert("歌词文件必须是lrc格式");
    return false;
  }else{
  	return true;
  }
	
}



</script>

</body>
</html>