
*{margin: 0;
padding: 0}
#prev,
#next {
    font-size: 30px;
    background-color: rgba(39, 39, 39, 0.5);
    color: #A6A1A1;
    padding: 10px;
    position: absolute;
}

#prev {
    top: 125px;
    left: 0px;
}

#next {
    top: 125px;
    right: 0px;
}

#prev:hover,
#next:hover {
    color: #eee;
    background-color: rgba(161, 161, 161, 0.7);
}

.range {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: rgba(161, 161, 161, 0.5);
    border-radius: 5px;
    margin: 0 5px;
}

.range:hover {
    background-color: #eee;
}

.rangediv {
    position: absolute;
    top: 245px;
    left: 255px;
    /*vertical-align:*/
}

#left_imgplay{
    width: 700px;
    /*margin:0 auto;*/
    position: relative;
 }

#left_imgplay img {
    width: 100%;
    border-radius: 3px;
    width: 700px;
    height: 280px;
}
.musichot h3,.musicnew h3{
margin:10px;
color:#aaa;
font-family: "幼圆";
font-weight: 700;
font-size: 20px;
display: inline-block;

    
}
.musichot li,.musicnew li{
list-style-position: inside;
list-style-type: none;
line-height: 30px;
}
.musichot{
    width: 333px;
    height: 400px;
    /*background-color: skyblue;*/
    float: left;
}
.musicnew{
    width: 333px;
    height: 400px;
    /*background-color: #ccc;*/
    float: right;
} 

.mname {
    font-size: 14px;
    color: #009C95;
     
    min-width: 100px;
    max-width: 150px;
}
.msinger{
    min-width: 100px;
    max-width: 150px;
}
a{text-decoration: none;color: #aaa}

.ellipsis {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
i.icon.video.play.outline:before {
    content: "\f01d";
    font-size: 20px;
    color: #5B5B5B;
}
i{
    cursor: pointer;
}
